.product__button {
	margin-left: auto;
}

.product__footer {
	display: flexbox;
	align-items: flex-end;
}
@media (min-width: 769px) {
	.products {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between; 
		 
	}

	.product {
		width: 32%;
	}
}
